html {
  scroll-behavior: smooth;
}
.produto-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  text-align: center;
  font-weight: 600;
  color: #5b21b6;
}
.produto-card:hover {
  background-color: #f3e8ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
#popupSuccess {
  display: none;
}
/* Animação do tracejado */
@keyframes dash {
  to {
    stroke-dashoffset: -100;
  }
}
.animate-\[dash_5s_linear_infinite\] {
  stroke-dashoffset: 0;
  animation: dash 5s linear infinite;
}
/* Estilização do checkbox */
input[type="checkbox"] {
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked {
  transform: scale(1.1);
}
/* Estilização da animação de fundo */
.bg-opacity-50 {
  background-color: rgba(255, 255, 255, 0.5);
}
.backdrop-blur-sm {
  -webkit-backdrop-filter: blur(4px); /* Suporte para Safari */
  backdrop-filter: blur(4px);
}